.palette {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  align-items: center;
  padding: 10px 0;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
}

.icon {
  padding: 5px 5px
}
